.search-result{
    input {
        height: 40px;
    }
    .result-btn{
        position: absolute;
        z-index: 1;
        border: 1.5px solid $main-border-color;
        border-radius: 25.5px;
        margin-top: 8px;
    }
    .ant-select-selector{
        padding-left: 130px !important;
    }
    .search-card{
        margin-top: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 30px;
        img{
            height: 220px;
            border-radius: 10px;
            object-fit: cover;
        }
        .h-220{
            height: 220px;
            padding-left: 20px;
            @include md {
                height: 80px;
                padding-left: 0;
              }
        }
        h6{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            @include xl {
                font-size: 20px;
              }
              @include lg {
                font-size: 21px;
              }
              @include md {
                font-size: 20px;
              }
              @include sm {
                font-size: 18px;
              }
        }
        h6{
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            color: #000000;
            @include xl {
                font-size: 22px;
              }
              @include lg {
                font-size: 21px;
              }
              @include md {
                font-size: 20px;
              }
              @include sm {
                font-size: 18px;
              }
        }
        // button{
        //     border-radius: 24px;
        //     border-color: transparent;
        //     outline: none;
        // }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            // margin-bottom: 5px;
            @include xl {
                font-size: 16px;
              }
              @include lg {
                font-size: 15px;
              }
              @include md {
                font-size: 14px;
              }
              @include sm {
                font-size: 13px;
              }
        }
    }
}  